<h1>Search Results for '<%= @query %>'</h1>

<% if @results.any? %>
  <ul>
    <% @results.each do |result| %>
      <li><%= link_to result.name, result %></li>
    <% end %>
  </ul>
<% else %>
  <p>No results found for '<%= @query %>'</p>
<% end %>