<h1><%= @meal.name %></h1>

<h2>Ingredients</h2>
<ul>
  <% @meal.ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
  <% end %>
</ul>

<p><%= @meal.instructions %></p>
<p>Category: <%= @meal.category %></p>